http:
  routers:
    api:
      rule: "PathPrefix(`/api`)"
      entryPoints:
        - web
      service: api
      priority: 100
    frontend:
      rule: "PathPrefix(`/`)"
      entryPoints:
        - web
      service: frontend
      priority: 1

  services:
    api:
      loadBalancer:
        servers:
          - url: "http://api:5001"
    frontend:
      loadBalancer:
        servers:
          - url: "http://frontend:3000"
